@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cardo');

$Raleway: "Relaway", sans-serif;
$OpenSans: "Open Sans", sans-serif;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $Raleway;
}

button:hover {
  cursor: pointer;
}

.sticky {
  background-color: rgb(43, 46, 74);

}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  position: fixed;
  padding: 36px 0;
  z-index: 2;
  .menu {
    display: flex;
    &__item {
      margin-right: 58px;
      a {
        display: block;
        width: max-content;
        text-decoration: none;
        font-size: 13px;
        color: #fff;
        font-family: $Raleway;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: #e84545;
          transition: all .5s ease;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.main-screen {
  height: 100vh;
  color: #fff;
  background: url("../images/Layer 34.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 600px;
  &--background {
    background-color: rgba(43, 46, 74, 0.95);
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    &__title {
      text-transform: uppercase;
      font-size: 65px;
      line-height: 71px;
      color: #ffffff;
      font-family: $OpenSans;
      font-weight: bold;
      text-align: center;
      max-width: 860px;
    }
    &__text {
      font-size: 22px;
      line-height: 33px;
      color: #ffffff;
      text-align: center;
      max-width: 1000px;
    }
  }
  .button--find {
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #e84545;
    padding: 13px 0;
    border: none;
    width: 200px;
    margin-top: 80px;
    z-index: 1;
    &:hover {
      background-color: #53354a;
      transition: all .5s ease;
    }
  }
}

.features {
  padding: 102px 200px;
  display: flex;
  flex-wrap: wrap;
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 45px;
    width: 33.33333%;
    img {
      width: 60px;
      height: 60px;
    }
    &__title {
      margin-top: 34px;
      font-size: 14px;
      color: #2d3033;
      font-weight: bold;
      text-align: center;
      margin-bottom: 26px;
      max-width: 320px;
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      color: #6c7279;
      text-align: center;
      max-width: 320px;
    }
  }
}

.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .item {
    display: flex;
    align-items: center;
    width: 24.88%;
    padding-right: 2px;
    &:nth-child(4), &:last-child {
      padding: 0;
    }
    &--hover {
      width: 100%;
      // width: 480px;
      height: 350px;
      background-position: center !important;

      display: flex;
      &__title {
        font-size: 14px;
        color: #ffffff;

        font-weight: bold;
        text-align: center;
      }
      &__text {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        font-weight: normal;
        text-transform: none;
      }
      a {
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: none;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        opacity: 0;
        background-color: rgba(231, 69, 69, 0.9);
        &:hover {
          opacity: 1;
          cursor: pointer;
          transition: all 400ms ease;
        }
        &:after {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          // transition: opacity 300ms ease;
          z-index: -1;
        }

      }
    }
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  width: 100%;
  justify-content: center;
  .member {
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    &__photo {
      margin-bottom: 26px;
      width: 270px;
      height: 270px;
    }
    &__name {
      max-width: 270px;
      margin-bottom: 7px;
      font-size: 22px;
      color: #2d3033;
    }
    &__position {
      max-width: 270px;
      font-size: 13px;
      color: #e84545;
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    &__text {
      max-width: 270px;
      font-size: 14px;
      line-height: 21px;
      color: #6c7279;
      margin-bottom: 30px;
    }
    &__social {
      display: flex;
      border-radius: 1px;
      color: #c6cacc;
      &__link {
        color: #c6cacc;
        i {
          font-size: 16px;
          border: 1px solid #e7ebed;
          padding: 14px 20px;
          margin-left: 4px;
        }
        &:hover {
          color: rgb(85, 26, 139);
          i {
            border: 1px solid rgb(85, 26, 139);
          }
          transition: all .4s ease;
        }
      }

    }
    &:last-child {
      margin: 0;
    }
  }
}

.client {
  overflow: hidden;
  display: flex;
  &__photo, &__slider {
    width: 50%;
  }
  &__photo {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__slider {
    position: relative;
    background-color: #53354a;
    padding-top: 97px;
    padding-left: 71px;
    .info {
      //  width: 60%!important;
      padding: 10px;

      &__quote {
        font-style: italic;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
        font-family: "Cardo", sans-serif;
        max-width: 500px;
      }
      &__position {
        font-size: 13px;
        line-height: 21px;
        color: #ffffff;
        font-family: $Raleway;
        font-weight: bold;
        text-transform: uppercase;
        margin: 26px 5px;
      }
    }

  }
  .slick-dotted.slick-slider {
    margin: 0 !important;
  }
  .slick-dots {
    bottom: 10%;
    right: 14%;
  }
  .slick-active {
    color: #fff;
  }
  .slick-dots li button:before {
    color: #fff;
    font-size: 13px;
  }

}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  .info {
    margin-bottom: 35px;
    &__title {
      font-size: 28px;
      line-height: 21px;
      color: #2d3033;
      font-weight: 300;
      text-align: center;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 13px;
      line-height: 21px;
      color: #2d3033;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__button {
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    background-color: #e84545;
    border: none;
    padding: 13px 82px;
    text-transform: uppercase;
    &:hover {
      background-color: #53354a;
      transition: all .5s ease;
    }
  }
}

.footer {
  font-family: $Raleway;
  background-color: #3a3e64;
  display: flex;
  padding: 70px 0 34px;
  justify-content: center;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
    &__text {
      margin-top: 22px;
      font-size: 14px;
      line-height: 23px;
      color: #ffffff;
      text-align: center;
      max-width: 330px;
    }
  }
  &__location {
    width: 20%;
  }
  &__social {
    width: 13%;
  }
  &__about {
    width: 25%;
  }
  &__social {
    .info__text {
      display: flex;
      justify-content: center;
      margin-top: 22px;
      i {
        font-size: 16px;
        border-radius: 1px;
        border: 3px solid #e7ebed;
        padding: 12px 16px;
        margin-right: 7px;
        &:last-child {
          margin-right: 0;
        }
      }
      &__link {
        color: #c6cacc;
        display: block;
        margin-right: 7px;
        i {
          font-size: 16px;
          border-radius: 1px;
          border: 3px solid #e7ebed;
          padding: 12px 16px;

        }

        &:hover {
          color: rgb(85, 26, 139);
          i {
            border: 3px solid rgb(85, 26, 139);
          }
          transition: all .4s ease;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

  }
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 23px;
  font-family: $Raleway;
  background-color: #313454;
  text-align: center;
  padding: 22px 0;
  p {
    display: inline;
  }
  &__text {
    width: 100%;
    color: #808080;
    .icon {
      color: #e84545;
    }
    .author {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1440px) {
  .works .item {
    width: 25%;
    padding-right: 0;
  }
  .footer {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1300px) {
  .client {
    .slick-dots {
      bottom: 2%;
      right: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .team {
    .member {
      align-items: center;
      width: 50%;
      margin-bottom: 50px;

    }
  }
  .features {
    padding: 102px 40px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    &__location, &__social, &__about {
      width: 100%;
      margin-bottom: 30px;
    }
    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__about {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
  }
  .burger-nav {
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
    background-color: #e84545;
    border: none;
  }

  .burger-nav:before, .burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background-color: #e84545;
  }

  .burger-nav:before {
    top: -16px;
    background-color: #e84545;
  }

  .hamburg-menu.active .burger-nav {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: all 1s ease;
  }

  .hamburg-menu.active .burger-nav:before {
    top: 0;
    transform: rotate(45deg);
  }

  .hamburg-menu.active .burger-nav:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu {
    height: 0;
    overflow: hidden;
    background-color: rgb(43, 46, 74);
  }

  .menu .menu__item {
    text-align: left;
    margin: 0;
  }

  .menu .menu__item a {
    color: white;
  }
  .menu a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #64c29e;
    transform: scaleX(1);
  }
  .menu a:hover:after {
    width: 100%;
  }
  .menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #e84545;
    transition: all .3s ease-in-out;
  }

  .menu.open {
    margin: 0;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all .4s ease;
  }
  .menu.open .menu__item {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-screen {
    .info__title {
      font-size: 50px;
      max-width: 700px;
    }
    .info__text {
      max-width: 700px;
    }
  }
  .client {
    &__slider {
      position: relative;
      background-color: #53354a;
      padding: 44px 0 48px 71px;

    }
  }
}

@media screen and (max-width: 768px) {
  .main-screen {
    .info__title, .info__text {
      max-width: 600px;
    }
    .info__title {
      font-size: 40px;
    }
  }
  .features .info {
    width: 50%;
  }
  .works .item {
    width: 50%;
  }
  .download .info__title {
    line-height: 34px;
  }
  .client {
    flex-direction: column;
    &__photo, &__slider {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .main-screen .info {
    padding: 0 20px;
  }
  .download {
    padding: 100px 30px;
  }
  .features .info, .works .item, .team .member {
    width: 100%;
  }
  .client__slider {
    padding: 44px 25px 48px 71px;
  }
}

@media screen and (max-width: 440px) {
  .navigation {
    padding-left: 20px;
  }
  .main-screen {
    .info__title {
      font-size: 35px;
    }
    .info__text {
      font-size: 19px;
    }
  }
  .client__slider .info__quote {
    font-size: 25px;
  }
}

@media screen and (max-width: 390px) {
  .main-screen {
    .info__title {
      font-size: 23px;
    }
    .info__text {
      font-size: 15px;
    }
    .download .info__title {
      margin-bottom: 54px;
    }
  }
}

@media screen and (max-width: 320px) {
  .main-screen .info__title {
    font-size: 23px;
    line-height: 40px;
  }
  .client {
    &__slider {
      padding: 13px 25px 33px 18px;
    }
  }
  .download__button {
    padding: 13px 50px;
  }
  .footer {
    padding: 70px 20px;
  }
  .copyright {
    padding: 22px 10px;
  }
}